
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WELCOME TO RTPCR MIS</title>
    <meta name="description">
    <!-- Head Start-->
  
    <!-- App Stylesheet: Start-->
    <link href="https://stnmvrdl.sikkim.gov.in/user/styles/main.css" rel="stylesheet">
    <!-- App Stylesheet: End-->
    <!-- Head End-->
  </head>
  <body>
    <div class="sl-app__inner">
     

       <!-- Header: Start-->
       <nav class="navbar navbar-expand-lg navbar-light gs-navbar">
        <div class="container-fluid"><a class="navbar-brand" href="/"><img class="img-fluid gs-navbar__brand" src="https://stnmvrdl.sikkim.gov.in/user/images/home/logo.png" alt="logo"></a>
          <button class="navbar-toggler gs-navbar__tbutton" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><img class="gs-navbar__ticon" src="https://stnmvrdl.sikkim.gov.in/user/images/home/navbar/burger-menu.png" alt=""></button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto"></div><a class="nav-item nav-link gs-navbar__link" href="#">FAQ's</a>
             
              
           
                <a class="nav-item nav-link gs-navbar__link" href="https://stnmvrdl.sikkim.gov.in/reportlogin">
              <div class="gs-button gs-button--primary">DOWNLOAD REPORT</div></a>
          </div>
        </div>
      </nav>
      <!-- Header: End-->
      <!-- Main: Start-->
      <main class="sl-main">
        <div class="sl-main__inner">
          <Includes>
            <Start></Start>
          </Includes>
          <Includes>
            <End></End>
          </Includes>
         

<!-- ======= Header ======= -->
<!-- <main id="main"> -->
      <!-- ======= Login Section ======= -->
 <!-- Masthead-->



 <!-- Section: Start-->
 <section class="gs-hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 gs-hero__left">
        <div class="gs-hero__text-wrap">
          <h1 class="gs-hero__heading">HELP STOP SPREAD Covid-19.</h1>
          <h6 class="gs-hero__subheading">covid-19 test portal</h6>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 text-center text-md-right"><img class="img-fluid gs-hero__vaccination" src="https://stnmvrdl.sikkim.gov.in/user/images/home/banner/banner.png" alt="vaccination"></div>
    </div>
  </div>
</section>
<!-- Section: End-->
      <!-- Section: Start-->
      <section class="gs-section gs-section--steps">
        <div class="container">
          <div class="row gs-steps">
              <div class="col-md-12">
            <div class="alert alert-success">
               <p style="text-align: center"> You have been successfully verified..
                <br/> {{name.name}}
                  &nbsp;
               </p>
            </div>
              </div>
          </div>
        </div>
      </section>
      <!-- Section: End-->
      <!-- Section: Start-->
      <section class="gs-section gs-section--points">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
              <h2 class="gs-section-heading">IMPORTANT POINTS TO REMEMBER.</h2>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
              <ul class="gs-points__right">
                <li class="gs-points__right-item">Schedule an appointment according you your convinence</li>
                <li class="gs-points__right-item">Schedule an appointment according you your convinence</li>
                <li class="gs-points__right-item">Schedule an appointment according you your convinence</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: End-->
    </div>
  </main>
  <!-- Main: End-->
  <!-- Footer: Start-->

</div>
</main>
<!-- Main: End-->

<footer class="gs-footer">
</footer>
      <!-- Footer: End-->
      <!-- Body End-->
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stnmvrdl.sikkim.gov.in/user/scripts/vendor/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <!-- Lazy Loading-->
    <!--script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js")-->
    <!-- Custom Js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>
    
    <script src="https://stnmvrdl.sikkim.gov.in/user/scripts/anim.js"></script>
    <script src="https://stnmvrdl.sikkim.gov.in/user/scripts/main.js"></script>
 
</div>
</body>
</html>
