
  {% extends 'admin/adminbase.html' %}          
  {% load static%}
    {% block css%}
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    {% endblock%}
        {% block content%}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Tour List</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Sl No.</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Subject</th>
                                            <th>Message</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in object_list %}
                                        <tr>
                                            <td class="data">{{forloop.counter}}</td>
                                            <td class="data">{{i.user.first_name}}</td>
                                            <td class="data">{{i.user.email}}</td>
                                            <td class="data">{{i.subject}}</td>
                                            <td class="data">{{i.message}}</td>
                                            <td><a href="#" data-toggle="modal" data-target="#logoutModal"><button class="btn btn-warning mr-3 btn-sm reply" data-id="{{i.pk}}" data-email="{{i.user.first_name}}">Reply</button></a></td>
                                        </tr>
                                        {% endfor %}
                            
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="POST" action="{% url 'reply'%}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                      <label for="message" id="messagehead">Reply to</label>
                      <input type="hidden" name="msgid" id="msgid" value=0>
                      <textarea class="form-control" name="message" id="message" rows="3"></textarea>
                    </div></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" id="send" type="submit">Send</button>
                </div>
            </form>
            </div>
        </div>
    </div>
            <!-- End of Main Content -->
{% endblock %}
       {% block js%}
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
    <script>
        $('.reply').each(function(){
            $(this).on('click', function(){
            console.log($(this));
            console.log($(this).data('id'));
            $('#msgid').val($(this).data('id'));
            $('#messagehead').html('Reply to <b>'+$(this).data('email') +'</b>');

        });
        })
       
    </script>
{%endblock%}



                                    